@font-face {
  font-family: 'Special Elite';
  src: url('../fonts/SpecialElite-Regular.ttf') format('truetype');
}

body {
  font-family: 'Inter';
  /* font-family: "Inter", sans-serif; */
  color: black; /* Remove quotes around color values */
  background: white;
  margin: auto;
}



.panels {
  background-color: black;
  width: 100%; /* Use 100% instead of 100vw to avoid horizontal scroll */
  padding: 100px 0 100px 0;
  /* display: flex; */
  height: 100%;
}

.panels#questions {
  background-color: #910361; 
  /* background-color: #3b7f22; */
}

#panel_one, #panel_two {
  color: white;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  width: 80%; 
  text-align: center; /* Align text within the paragraphs, adjust as needed */
  margin: 0 auto; /* Center the paragraphs within .paragraphs */
}


h1 {
  font-family: 'Special Elite', sans-serif;
  color: white;
  font-size: clamp(30px, 5vw, 100px); /* Responsive font size */
  font-weight: 800;
  text-align: center;
  width: 80%; /* Adjust this value as needed */
  /* max-width: 800px; Optional: Maximum width */
  /* min-width: 600px; Optional: Minimum width */
  margin: 0 auto; /* Centers the h1 in its container */
  padding-bottom: 50px;
}

h2 {
  font-family: Inter;
  color: #300020;
  font-size: 24px;
  text-align: center;
  float: clear;
  
}

.paragraphs {
  margin-top: 60px;
}

.bodycopy {
  font-family: 'Inter';
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 600px;
  margin: auto;
}

#bodycopy_white {
  font-family: 'Inter';
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 600px;
  margin: auto;
}

#panel_one, #panel_two {
  margin-bottom: 16px;
}

  /* p {
    color: rgb(0, 0, 0);
    font-size: 72px;
    font-weight: 600;
    line-height: 80px;
  } */

#panel_one span, #panel_two span {
    color: #300020;
    font-size: 18px;
    font-weight: 600;
    background-color: #ddd;
    border-radius: 2px;
    padding: 4px 6px;
    margin: 3px;
  }

  h6 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
    text-align: center;
    padding-top: 5px;
    margin: 0;
    background-color: #910361; /* White with 50% opacity */
    /* Add any additional styling you need (colors, padding, etc.) */
}

h6 span {
  color: rgb(255, 255, 255);
}

.header_image {
  text-align: center; /* Center horizontally */
}

#header_image_one img {
  max-width: 400px; 
  height: auto; 
  padding-bottom: 40px;
  float: right;
}

#header_image img {
  width: 100%;
  margin: auto;
  padding-top: 40px;
 
}

#header_image {
  width: 5%;
  margin: auto;
}

#image_three img {
  max-width: 350px; 
  height: auto; 
  padding-bottom: 40px;
  display: inline;
  float: left;
  z-index: -1;
}

#image_five {
  width: 200px;
  margin: auto;
}
#image_five img {
  width: 200px;
}

span#caption {
  font-size: 16px;
  display: inline;
  background-color: transparent;
   
}

.tooltip {
  box-shadow: 0px 0px 2px #747474;
  background-color: white;
  color: rgb(55, 55, 55);
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0.9;
  /* Other styles */
}

.tooltip b {
  color: black;
}

/* #commonContainer {
  position: relative; */
  /* Set the size of the container, possibly to match the size of the SVG */
/* } */
#dropdownContainer {
  position: absolute;
  top: 400px; /* Adjust as needed */
  right: 60px; /* Adjust as needed */
  z-index: 10; /* Ensures the dropdown is above the SVG */
}

#dropdownContainer label {
  display: block; /* or inline-block */
  color: rgb(0, 0, 0); /* Color of the label text */
  font-family: 'Special Elite'; /* Font family */
  font-size: 16px; /* Font size */
  margin-bottom: 8px; /* Space between label and dropdown */
  /* Additional styling as needed */
}

#keywordDropdown, #otherKeywordDropdown {
  font-family: 'Inter';
  width: 200px; /* Adjust the width as needed */
  padding: 8px; /* Padding for better appearance */
  border: 2px solid black;
  border-radius: 2px; /* Rounded corners */
  color: rgb(0, 0, 0);
  background-color: none;
  font-size: 18; /* Font size */
  cursor: pointer; /* Cursor style */
  overflow-y: auto; /* Enables vertical scrolling */
  max-height: 50px; /* Maximum height before scrolling */
  appearance: none; /* Removes default styling */
  background-image: url('../images/arrow.png'); /* Add your custom arrow image */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Positioning the arrow image */
  background-size: 16px; /* Adjust this value to resize the arrow */
  margin-bottom: 40px;
}

#appHeader {
  color: rgb(0, 0, 0);
  margin-top: 60px;
  /* right: 60px; Adjust as needed */
  /* text-align: center !important; */
  /* position: absolute; */
  /* z-index: 12;  */

}

.copyForApps {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 200;
  line-height: 32px;
  width: 600px;
  margin: auto;
  /* text-align: center !important; */
  /* position: absolute; */
  /* z-index: 12;  */

}


#app_one {
  position: relative; /* This makes it a reference for absolute positioned children */
}
/* #app_two {
  padding-top: 100px;  
} */

#module_two {
  padding-top: 100px;
  background-color: #ddd;

}

/* Styling the axis lines */
.yaxis .domain {
  stroke: none;
  stroke-width: 3; /* Thickness of the axis line */
}

.xaxis .domain {
  stroke: none;
  stroke-width: 3; /* Thickness of the axis line */
}

/* Styling the tick lines */
.yaxis line, .xaxis line {
  stroke: none; /* Color of the tick lines */
  stroke-width: 1; /* Thickness of the tick lines */
}

/* Styling the tick labels */
.axis text {
  fill: none;
  font-size: 10px; /* Font size of the tick labels */
  font-weight: 600;
}


#app_three {
  padding-top: 40px;
}


/* Styling for table headers */
.my-table th {
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #3c3c3c;
}

/* Styling for table data */
.my-table td {
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: right;
  color: #910361;
  border-radius: 4px;
}

#controls {
  margin-bottom: 100px;
  margin-left: 100px;
  margin-top: 40px;
  font-family: 'Special Elite', sans-serif;
}

/* SLIDERS


/* General styles for all sliders */
input[type=range] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 15%; /* Full-width */
  height: 10px; /* Specified height */
  background: rgb(202, 202, 202); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (cross-browser) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
}

/* Mouse-over effects */
input[type=range]:hover {
  opacity: 1; /* Fully opaque on hover */
}

/* The slider handle (thumb) */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Width of the handle */
  height: 15px; /* Height of the handle */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 10px;

}

input[type=range]::-moz-range-thumb {
  width: 25px; /* Width of the handle */
  height: 25px; /* Height of the handle */
  background: #910361; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Specific styles for each slider */
#x-range::-webkit-slider-thumb {
  background: #222; /* Green background for x-range */
}

#y-range::-webkit-slider-thumb {
  background: #222; /* Different color, e.g., red for y-range */
}

#x-range::-moz-range-thumb {
  background: #222; /* Green background for x-range */
}

#y-range::-moz-range-thumb {
  background: #222; /* Different color, e.g., red for y-range */
}



/* SLIDERS END */

/* Styles for the axes */
.x-axis path,
.y-axis path {
    stroke: #727272; /* Color of the axis line */
}

.x-axis line,
.y-axis line {
    stroke: #777; /* Color of the ticks */
    stroke-dasharray: 2,2; /* Dashed ticks */
}

.x-axis text,
.y-axis text {
    font-size: 12px; 
    color: rgb(121, 121, 121) /* Font size of axis labels */
}

#scatter-plot {
  margin-left: 60px;
}

.legend {
  font-family: "Special Elite";
}

#citation {
  font-size: 14px;
  font-weight: 400;
  margin: auto;
  color: gray;
}
.citation {
  font-size: 14px;
  font-weight: 400;
  margin: auto;
  padding: 20px;
  color: gray;
}

/* Media Query Example for smaller screens */
@media screen and (max-width: 768px) {
  .bodycopy {
      font-size: 14px;
      width: 100%; /* Adjust width for smaller screens */
      padding: 10px; /* Adjust padding for smaller screens */
  }

  .header h1, h1 {
      font-size: clamp(24px, 8vw, 50px); /* Adjust font size for smaller screens */
  }

  /* Add more responsive styles as needed */
}

